## Conexión a Azure

In [ ]:
import json

id = open('my_psswd.json', 'r')
mi = json.load(id)
YOUR_PASSWORD = mi["pswd"]

In [ ]:
import pyodbc

# Establecer los parámetros de conexión
server = 'rar-server.database.windows.net'
database = 'RARdb'
username = 'rar'
password = YOUR_PASSWORD

# definir la conexión para SQL Server (Azure)
conn_str = (
    f'DRIVER={{ODBC Driver 18 for SQL Server}};'
    f'SERVER={server};'
    f'DATABASE={database};'
    f'UID={username};'
    f'PWD={password}'
)

# Establecer la conexión a la base de datos
try:
    conn = pyodbc.connect(conn_str)
    print("Connected to the Azure SQL Database successfully!")

except pyodbc.Error as e:
    print(f"Error connecting to the database: {e}")

Connected to the Azure SQL Database successfully!

## Recuperación de datos

In [46]:
import pandas as pd

# Realizar una consulta SQL y cargar los datos
query_2 = "SELECT * FROM SalesLT.customer"
datos = pd.read_sql(query_2, conn)
datos.head()

C:\Users\rodri\AppData\Local\Temp\ipykernel_23268\1966378067.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  datos = pd.read_sql(query_2, conn)

,CustomerID,NameStyle,Title,FirstName,MiddleName,LastName,Suffix,CompanyName,SalesPerson,EmailAddress,Phone,PasswordHash,PasswordSalt,rowguid,ModifiedDate
0,1,False,Mr.,Orlando,N.,Gee,None,A Bike Store,adventure-works\pamela0,orlando0@adventure-works.com,245-555-0173,L/Rlwxzp4w7RWmEgXX+/A7cXaePEPcp+KwQhl2fJL7w=,1KjXYs4=,3F5AE95E-B87D-4AED-95B4-C3797AFCB74F,2005-08-01
1,2,False,Mr.,Keith,None,Harris,None,Progressive Sports,adventure-works\david8,keith0@adventure-works.com,170-555-0127,YPdtRdvqeAhj6wyxEsFdshBDNXxkCXn+CRgbvJItknw=,fs1ZGhY=,E552F657-A9AF-4A7D-A645-C429D6E02491,2006-08-01
2,3,False,Ms.,Donna,F.,Carreras,None,Advanced Bike Components,adventure-works\jillian0,donna0@adventure-works.com,279-555-0130,LNoK27abGQo48gGue3EBV/UrlYSToV0/s87dCRV7uJk=,YTNH5Rw=,130774B1-DB21-4EF3-98C8-C104BCD6ED6D,2005-09-01
3,4,False,Ms.,Janet,M.,Gates,None,Modular Cycle Systems,adventure-works\jillian0,janet1@adventure-works.com,710-555-0173,ElzTpSNbUW1Ut+L5cWlfR7MF6nBZia8WpmGaQPjLOJA=,nm7D5e4=,FF862851-1DAA-4044-BE7C-3E85583C054D,2006-07-01
4,5,False,Mr.,Lucy,None,Harrington,None,Metropolitan Sports Supply,adventure-works\shu0,lucy0@adventure-works.com,828-555-0186,KJqV15wsX3PG8TS5GSddp6LFFVdd3CoRftZM/tP0+R4=,cNFKU4w=,83905BDC-6F5E-4F71-B162-C98DA069F38A,2006-09-01

In [47]:
# limpiar la base de datos seleccionando las columnas que se van a usar (fecha)
datos = datos[['CompanyName','SalesPerson', 'ModifiedDate']]

# agregar una columna usando la modifieddate como rango de fechas del 0 al n
datos['ModifiedDate'] = pd.to_datetime(datos['ModifiedDate'])
datos['ModifiedDate'] = (datos['ModifiedDate'] - datos['ModifiedDate'].min()).dt.days
# renombrar la columna de modifieddate a fecha
datos.rename(columns={'ModifiedDate': 'Fecha'}, inplace=True)

In [48]:
datos

                       CompanyName               SalesPerson  Fecha
0                     A Bike Store   adventure-works\pamela0     31
1               Progressive Sports    adventure-works\david8    396
2         Advanced Bike Components  adventure-works\jillian0     62
3            Modular Cycle Systems  adventure-works\jillian0    365
4       Metropolitan Sports Supply      adventure-works\shu0    427
..                             ...                       ...    ...
842              Nearby Cycle Shop      adventure-works\jae0    427
843                    Retreat Inn     adventure-works\josé1    396
844  Technical Parts Manufacturing      adventure-works\shu0    730
845        Totes & Baskets Company  adventure-works\jillian0     31
846                 World of Bikes  adventure-works\jillian0    427

[847 rows x 3 columns]

In [49]:
# Guardar los datos en un archivo CSV
datos.to_csv('datos.csv', index=False)

In [ ]:
# Cerrar la conexión
conn.close()