## Conexión a Azure

In [ ]:
import json

id = open('my_psswd.json', 'r')
mi = json.load(id)
YOUR_PASSWORD = mi["pswd"]

In [ ]:
import pyodbc

# Establecer los parámetros de conexión
server = 'rar-server.database.windows.net'
database = 'RARdb'
username = 'rar'
password = YOUR_PASSWORD

# definir la conexión para SQL Server (Azure)
conn_str = (
    f'DRIVER={{ODBC Driver 18 for SQL Server}};'
    f'SERVER={server};'
    f'DATABASE={database};'
    f'UID={username};'
    f'PWD={password}'
)

# Establecer la conexión a la base de datos
try:
    conn = pyodbc.connect(conn_str)
    print("Connected to the Azure SQL Database successfully!")

except pyodbc.Error as e:
    print(f"Error connecting to the database: {e}")

Connected to the Azure SQL Database successfully!

## Recuperación de datos

In [35]:
import pandas as pd

# Realizar una consulta SQL y cargar los datos
query_2 = "SELECT * FROM SalesLT.customer"
datos = pd.read_sql(query_2, conn)
datos.head()

C:\Users\rodri\AppData\Local\Temp\ipykernel_23268\1966378067.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  datos = pd.read_sql(query_2, conn)

,CustomerID,NameStyle,Title,FirstName,MiddleName,LastName,Suffix,CompanyName,SalesPerson,EmailAddress,Phone,PasswordHash,PasswordSalt,rowguid,ModifiedDate
0,1,False,Mr.,Orlando,N.,Gee,None,A Bike Store,adventure-works\pamela0,orlando0@adventure-works.com,245-555-0173,L/Rlwxzp4w7RWmEgXX+/A7cXaePEPcp+KwQhl2fJL7w=,1KjXYs4=,3F5AE95E-B87D-4AED-95B4-C3797AFCB74F,2005-08-01
1,2,False,Mr.,Keith,None,Harris,None,Progressive Sports,adventure-works\david8,keith0@adventure-works.com,170-555-0127,YPdtRdvqeAhj6wyxEsFdshBDNXxkCXn+CRgbvJItknw=,fs1ZGhY=,E552F657-A9AF-4A7D-A645-C429D6E02491,2006-08-01
2,3,False,Ms.,Donna,F.,Carreras,None,Advanced Bike Components,adventure-works\jillian0,donna0@adventure-works.com,279-555-0130,LNoK27abGQo48gGue3EBV/UrlYSToV0/s87dCRV7uJk=,YTNH5Rw=,130774B1-DB21-4EF3-98C8-C104BCD6ED6D,2005-09-01
3,4,False,Ms.,Janet,M.,Gates,None,Modular Cycle Systems,adventure-works\jillian0,janet1@adventure-works.com,710-555-0173,ElzTpSNbUW1Ut+L5cWlfR7MF6nBZia8WpmGaQPjLOJA=,nm7D5e4=,FF862851-1DAA-4044-BE7C-3E85583C054D,2006-07-01
4,5,False,Mr.,Lucy,None,Harrington,None,Metropolitan Sports Supply,adventure-works\shu0,lucy0@adventure-works.com,828-555-0186,KJqV15wsX3PG8TS5GSddp6LFFVdd3CoRftZM/tP0+R4=,cNFKU4w=,83905BDC-6F5E-4F71-B162-C98DA069F38A,2006-09-01

In [36]:
# limpiar la base de datos seleccionando las columnas que se van a usar (fecha)
datos = datos[['CustomerID', 'CompanyName', 'ModifiedDate']]

In [34]:
datos

,CustomerID,FirstName,LastName,EmailAddress,Phone,ModifiedDate
0,1,Orlando,Gee,orlando0@adventure-works.com,245-555-0173,2005-08-01
1,2,Keith,Harris,keith0@adventure-works.com,170-555-0127,2006-08-01
2,3,Donna,Carreras,donna0@adventure-works.com,279-555-0130,2005-09-01
3,4,Janet,Gates,janet1@adventure-works.com,710-555-0173,2006-07-01
4,5,Lucy,Harrington,lucy0@adventure-works.com,828-555-0186,2006-09-01
...,...,...,...,...,...,...
842,30113,Raja,Venugopal,raja0@adventure-works.com,1 (11) 500 555-0195,2006-09-01
843,30115,Dora,Verdad,dora0@adventure-works.com,155-555-0140,2006-08-01
844,30116,Wanda,Vernon,wanda0@adventure-works.com,433-555-0168,2007-07-01
845,30117,Robert,Vessa,robert13@adventure-works.com,560-555-0171,2005-08-01
846,30118,Caroline,Vicknair,caroline0@adventure-works.com,695-555-0158,2006-09-01

In [ ]:
# Guardar los datos en un archivo CSV
datos.to_csv('customer.csv', index=False)

In [ ]:
# Cerrar la conexión
conn.close()